extends ./layout.jade

block title
    title Пляж - Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li
        a(href='photo.html') Фото
    li
        a(href='contact.html') Контакты

block content
    .services
        .container
            .col-md-4.services-left
                h3 Услуги
                ul
                    li
                        a(href='camping.html')
                            span
                            | Палаточный лагерь
                    li
                        a.selected(href='beach.html')
                            span
                            | Пляж
                    li
                        a(href='fishing.html')
                            span
                            | Рыбалка

            .col-md-8.services-right
                h3 Пляжный отдых на берегу Волги
                p
                    | Волга – одна из главных артерий России. А Саратов, как известно – сердце Волги.
                    | В летние дни пляжи Саратова – самый популярный вид отдыха, особенно с детьми.
                    | Но найти обустроенный берег не так просто. База отдыха «Лесная сказка» предлагает посетить
                    | песчаный пляж нашего кемпинга. Мы находимся недалеко от города, что позволяет приехать на машине
                    | без ночевки. Если Вы планируете отдых на несколько дней, можете остаться в палаточном городке.
                p
                    img.img-float-right(src='images/beach.jpg', alt='Пляж')
                    | Отдых на Волге – прекрасная возможность сменить будничную городскую обстановку.
                    | Песчаный пляж любят не только дети, но и взрослые. Золотые замки, спокойный реклакс или
                    | активные игры – каждый может выбрать на свой вкус. Пляж на Волге – это место,
                    | где можно не только позагорать, но и зарядиться эмоциями, позаниматься пляжными видами спорта.
                p
                    | Например, для тех, у кого плохое зрение, врачи советуют больше играть в мяч.
                    | Любые игры с мячом помогают фокусировать зрение, тем самым тренируя мышцу глаза.
                    | А двигательная активность, тем более на воздухе, «разгоняет» кровь, насыщая все органы кислородом.
                    | Поэтому наш старый добрый пляжный волейбол и футбол никто не отменял. Если вы отдыхаете большой компанией,
                    | можно устроить перетягивание каната, здесь даже дети любого возраста могут поучаствовать.
                p
                    img.img-float-left(src='images/beach1.jpg', alt='Пляж')
                    | Среди водных развлечений, на базе отдыха «Лесная сказка» стала популярна игра «Царь матраса».
                    | Для этой нехитрой, но увлекательной игры понадобится широкий матрас и искусственные волны.
                    | Один участник встает в полный рост на середину плавательного средства,
                    | а несколько человек пытаются сбросить его. Игра проводится не глубоко, но и так,
                    | чтобы падать было не мелко.
                p
                    img.img-float-right(src='images/beach2.jpg', alt='Пляж')
                    | Пляжный отдых ждет Вас в «Лесной сказке»! Что может быть лучше летнего отдыха с детьми или
                    | просто компанией не берегу Волги!  Отдых на Волге К сожалению, обустроенных песчаных пляжей для
                    | отдыха в Саратовской области не так много. Чтобы понежиться на солнышке, или нужно оставаться в
                    | черте города и идти на городской пляж, или перебираться на острова, а если в семье ребенок,
                    | то это не всегда удобно. Пляж в кемпинге «Лесная сказка» - подходящая альтернатива!
                    | Переправляться на острова нужно будет только при желании осмотреть красоты заливов Волги,
                    | а от города 50 км - 30 минут на машине.
            .clearfix
