extends ./layout.jade

block title
    title Палаточный лагерь - Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li
        a(href='photo.html') Фото
    li
        a(href='contact.html') Контакты

block content
    .services
        .container
            .col-md-4.services-left
                h3 Услуги
                ul
                    li
                        a.selected(href='camping.html')
                            span
                            | Палаточный лагерь
                    li
                        a(href='beach.html')
                            span
                            | Пляж
                    li
                        a(href='fishing.html')
                            span
                            | Рыбалка

            .col-md-8.services-right
                h3 Отдых с палатками в экокемпинге «Лесная сказка»
                p
                    img.img-float-right(src='images/dog.jpg', alt='Палатка')
                    | Лето – это маленькая, но яркая «жизнь», когда хочется успеть насладиться теплыми лучами солнца,
                    | чистым воздухом, бархатной водой, романтической обстановкой у костра и живописным звездным небом.
                    | Но не все могут махнуть на море или в далекие страны. Это не беда, ведь столько красивых мест
                    | сохранила наша родная Русская Земля! Одно из них – Волга с ее песочными берегами,
                    | загадочными заливами и островками. Но не всегда легко найти подходящее место для кемпинга,
                    | тем более, если с вами дети, хочется знать, куда едешь и, добравшись, иметь возможность сразу
                    | обустроиться.
                p
                    img.img-float-left(src='images/1-04.jpg', alt='Палатка')
                    | Палаточные кемпинги – самый экономичный вид отдыха. Первым предложил его Теодор Рузвельт в 1901 году,
                    | он организовал природные кемпинги на заповедных территориях, располагались они в национальных парках:
                    | «Йосемити», «Гора Рейнир», «Йеллоустоун» и «Секвойя». Затем кемпинги стали появляться повсеместно.
                    | Со второй половины прошлого века в России также стали активно использовать палаточные городки.
                p
                    img.img-float-right(src='images/1-05.jpg', alt='Лавочка')
                    | Кемпинг – это разновидность походного отдыха на природе. Территория такого лагеря оборудована местами
                    | под палатки, предусмотрена автостоянка, есть санузел.
                p
                    | Приехав в кемпинг «Лесная сказка», Вы найдете все необходимое для комфортного отдыха.
                    | В нашем палаточном лагере вы сможете не только разместить палатки, но к вашим услугам уже готов мангал,
                    | лавочки, стол. Любителей бесплатного солярия ждет чистый пляж, а рыбаков – водные просторы Волги.
                p
                    img.img-float-left(src='images/1-06.jpg', alt='Палатки')
                    | Находится палаточный городок «Лесная сказка» на берегу Волги недалеко от Саратова - 50 км,
                    | Воскресенский район, село Чардым.
                p
                    | Главные достоинства отдыха с палатками в кемпинге "Лесная сказка":
                .clearfix
                ul.list
                    li минимальные затраты и возможность общения с природой
                    li четыре стены не давят своей обыденностью
                    li лучший вид отдыха с детьми: обучение безопасному поведению вне городских условий, умению ценить, оберегать, любоваться и понимать природу
                    li романтические песни и дружеские разговоры у костра позволяют отрешиться от городской суеты
                    li здоровый сон на свежем воздухе
                    li шорох листвы, пение птиц, совместное проживание в палатке, приготовление пищи на костре – все это сближает любой коллектив и компанию
                p
                    strong Ждем Гостей!
            .clearfix
