extends ./layout.jade

block title
    title Контакты - Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li
        a(href='photo.html') Фото
    li.active
        a(href='contact.html') Контакты

block content
    .container.contact
        h3 Как добраться?
        .col-md-6.contact-lft
            .map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.329703977331!2d46.29908877543069!3d51.78483864259691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416b3107f872d7d9%3A0x20f57e824961b5b7!2z0K3QutC-0LrQtdC80L_QuNC90LMgwqvQm9C10YHQvdCw0Y8g0KHQutCw0LfQutCwwrs!5e0!3m2!1sru!2srs!4v1561913941734!5m2!1sru!2srs')
            h4 Адрес
            address
                | Саратовская область, 413046, Воскресенский район, село&nbsp;Чардым, конец ул.&nbsp;Дачной
            h4 Координаты
            p N51°47.122' E46°18.145'
            h4 Телефоны
            p
                a(href='tel:+79371445464') +7 937 144 5464
                br
                a(href='tel:+79626214069') +7 962 621 4069
        .col-md-6.contact-bottom
            p
                a(data-fancybox='gallery', href='images/map.jpg')
                    img.img-responsive(src='images/map.jpg', alt='Карта проезда')
            h4 Схема проезда
            p 
                | Мы находимся в селе Чардым Воскресенского района Саратовской области, в самом конце улицы <strong>Дачной</strong>.
                | Если вы едете по трассе Саратов-Сызрань, из Саратова, то на 40-м километре поворачиваете на Чардым
                | и продолжаете движение прямо до первого поворота направо - это начало улицы Дачной&nbsp;
                strong (1)
                | , затем асфальтированная дорога поворачивает влево&nbsp;
                strong (2)
                | , потом дорога ведет направо&nbsp;
                strong (3)
                | , дальше все время прямо. На последней развилке&nbsp;
                strong (4)
                | &nbsp;тоже едем прямо (в дачи через железные ворота поворачивать не надо - там тупик).
                | Затем слева вы увидите дорогу через шлагбаум - это въезд на базу отдыха «Лесная сказка».
        .clearfix
