extends ./layout.jade

block title
    title Рыбалка - Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li
        a(href='photo.html') Фото
    li
        a(href='contact.html') Контакты

block content
    .services
        .container
            .col-md-4.services-left
                h3 Услуги
                ul
                    li
                        a(href='camping.html')
                            span
                            | Палаточный лагерь
                    li
                        a(href='beach.html')
                            span
                            | Пляж
                    li
                        a.selected(href='fishing.html')
                            span
                            | Рыбалка

            .col-md-8.services-right
                h3 Рыбалка на Волге
                p
                    iframe.img-float-right(align='right', src='http://k-lev.com/informer/', width='180', height='220', scrolling='no', frameborder='0')
                    | Рыбалка – это чаще всего захватывающее увлечение или спорт, для кого-то просто повод выехать
                    | всей семьей на отдых. Волга – лучшее место для рыбалки. Волжские просторы знает и любит не
                    | один рыбак. Волга - это мечта, где можно заполучить небывалый трофей. Экокемпинг «Лесная сказка»
                    | расположен в самом центре этой богатой реки. Мы приглашаем всех желающих испытать
                    | рыбные места Саратовской области. Здесь водится белая рыба: жерех, голавль, язь, много хищников:
                    | окунь, щука, берш, судак. Вся Волга испещрена островками, рукавами, песчаными отмелями и косами,
                    | где и собирается кормиться рыба. Рыбалка в Саратовской области – не просто удача,
                    | но драйв и разнообразие ихтиофауны.
                p
                    img.img-float-left(src='images/1-08.jpg', alt='Палатка')
                    | Рыбалка в Саратове не прекращается круглый год. Но самые популярные периоды – весна/лето.
                    | Условия жизни подводных обитателей во многом зависит от половодья.
                    | При подъеме воды лучше будет ловиться судак, а в мае – все виды белой рыбы. 
                    | Хорошими наживками считаются опарыш и червь, а если Вы используете донку, 
                    | то в помощь будет приманка из жмыха, каши, сухарей или семечек.
                p
                    | Турбаза «Лесная сказка» расположена в Воскресенском районе села Чардым,
                    | здесь многие виды рыб вырастают до удивительных размеров. Рыбаки долго вспоминают необычный улов,
                    | привезенный с просторов Саратовской области. В нашем кемпинге Вы сможете спустить на воду лодку
                    | и побродить по заводям Волги.
                p
                    img.img-float-left(src='images/mosquito.jpg', alt='Комар')
                    img.img-float-right(src='images/acarid.jpg', alt='Клещ')
                    | В мае, когда погода зовет и манит, а солнышко радует теплом, организм неумолимо требует вывезти его на природу.
                    | Но в этот же самый период проявляют активность кровососущие – клещи и комары.
                    | Территория палаточного городка «Лесная сказка» полностью&nbsp;
                    strong обработана от комаров и клещей.
                    | &nbsp;Палаточный кемпинг без клещей и комаров Очень часто можно увидеть картину, когда загорающие
                    | на пляже отдыхающие мажутся не кремом для загара, а средством от комаров. В экокемпинге «Лесная сказка»
                    | такого не произойдет.
            .clearfix
