extends ./layout.jade

block title
    title Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li.active
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li
        a(href='photo.html') Фото
    li
        a(href='contact.html') Контакты

block content
    .services
        .container
            .col-md-4.services-left
                h3 Услуги
                ul
                    li
                        a(href='camping.html')
                            span
                            | Палаточный лагерь
                    li
                        a(href='beach.html')
                            span
                            | Пляж
                    li
                        a(href='fishing.html')
                            span
                            | Рыбалка

            .col-md-8.services-right
                h3 Что мы предлагаем
                p
                    | Среди всего разнообразия турбаз Саратова мы предлагаем Вам выбрать экокемпинг «Лесная сказка».
                    | Это не просто палаточный городок, это турбаза в полном смысле этого слова.
                    | Только вместо деревянных домиков – палатки, многие из которых даже сложно назвать «палатками»,
                    | так как они больше похожи на хоромы.
                p
                    img.img-float-right(src='images/1-01.jpg', alt='Палатка')
                    | Находится палаточный лагерь «Лесная сказка» в селе Чардым Воскресенского района Саратовской области.
                    | От Саратова – 50 км, всего 30-40 минут на машине. Переправляться на другой берег не нужно!
                    | Вы спокойно можете подъехать к экокемпингу «Лесная сказка», разгрузиться и оставить авто на стоянке.
                p
                    | Для вашего комфортного отдыха на Волге, мы подготовили:
                ul.list
                    li место под палатку
                    li зоны отдыха
                    li мангалы
                    li столы
                    li лавочки
                    li пляж с чистым песком
                    li обработанную от комаров и клещей территорию
                    li спуск на воду лодок
                    li парковку для автомашин
                    li туалет
                p
                    img.img-float-left(src='images/1-02.jpg', alt='Рыбалка')
                    | Любителям&nbsp;
                    a(href='fishing.html') рыбалки
                    | &nbsp;повезло больше, для них все условия создала Природа.
                    | Волга порадует вас неописуемо красивыми местами, богатыми рыбой.
                p
                    | На территории кемпинга «Лесная сказка» вы можете спустить лодку на воду.
                .clearfix
                h4 Отдых на Волге без комаров и клещей
                p
                    img.img-float-left(src='images/mosquito.jpg', alt='Комар')
                    img.img-float-right(src='images/acarid.jpg', alt='Клещ')
                    | В мае, когда погода зовет и манит, а солнышко радует теплом, организм неумолимо требует вывезти его на природу.
                    | Но в этот же самый период проявляют активность кровососущие – клещи и комары.
                    | Территория палаточного городка «Лесная сказка» полностью&nbsp;
                    strong обработана от комаров и клещей.
                    | &nbsp;Палаточный кемпинг без клещей и комаров Очень часто можно увидеть картину, когда загорающие
                    | на пляже отдыхающие мажутся не кремом для загара, а средством от комаров. В экокемпинге «Лесная сказка»
                    | такого не произойдет.
            .clearfix
