extends ./layout.jade

block title
    title Фото - Экокемпинг Лесная Сказка: отдых на берегу Волги

block menu
    li
        a(href='index.html') Услуги
    li
        a(href='prices.html') Цены
    li.active
        a(href='photo.html') Фото
    li
        a(href='contact.html') Контакты

block content
    .container.photo
        h3 Фотографии
        .col-sm-12
            p Прежде чем ехать на отдых, хочется знать куда попадешь и что тебя ждёт. Предлагаем заглянуть в мир экокемпинга «Лесная сказка».
            p
                a(data-fancybox='gallery', href='images/photo/1.jpg')
                    img.img-responsive(src='images/photo/1m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/2.jpg')
                    img.img-responsive(src='images/photo/2m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/3.jpg')
                    img.img-responsive(src='images/photo/3m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/4.jpg')
                    img.img-responsive(src='images/photo/4m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/5.jpg')
                    img.img-responsive(src='images/photo/5m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/6.jpg')
                    img.img-responsive(src='images/photo/6m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/7.jpg')
                    img.img-responsive(src='images/photo/7m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/8.jpg')
                    img.img-responsive(src='images/photo/8m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/9.jpg')
                    img.img-responsive(src='images/photo/9m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/10.jpg')
                    img.img-responsive(src='images/photo/10m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/11.jpg')
                    img.img-responsive(src='images/photo/11m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/12.jpg')
                    img.img-responsive(src='images/photo/12m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/13.jpg')
                    img.img-responsive(src='images/photo/13m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/14.jpg')
                    img.img-responsive(src='images/photo/14m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/15.jpg')
                    img.img-responsive(src='images/photo/15m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/17.jpg')
                    img.img-responsive(src='images/photo/17m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/18.jpg')
                    img.img-responsive(src='images/photo/18m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/19.jpg')
                    img.img-responsive(src='images/photo/19m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/20.jpg')
                    img.img-responsive(src='images/photo/20m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/21.jpg')
                    img.img-responsive(src='images/photo/21m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/22.jpg')
                    img.img-responsive(src='images/photo/22m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/23.jpg')
                    img.img-responsive(src='images/photo/23m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/24.jpg')
                    img.img-responsive(src='images/photo/24m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/25.jpg')
                    img.img-responsive(src='images/photo/25m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/26.jpg')
                    img.img-responsive(src='images/photo/26m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/27.jpg')
                    img.img-responsive(src='images/photo/27m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/28.jpg')
                    img.img-responsive(src='images/photo/28m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/29.jpg')
                    img.img-responsive(src='images/photo/29m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/31.jpg')
                    img.img-responsive(src='images/photo/31m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/32.jpg')
                    img.img-responsive(src='images/photo/32m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/33.jpg')
                    img.img-responsive(src='images/photo/33m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/34.jpg')
                    img.img-responsive(src='images/photo/34m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/35.jpg')
                    img.img-responsive(src='images/photo/35m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/36.jpg')
                    img.img-responsive(src='images/photo/36m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/37.jpg')
                    img.img-responsive(src='images/photo/37m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/38.jpg')
                    img.img-responsive(src='images/photo/38m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/39.jpg')
                    img.img-responsive(src='images/photo/39m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/40.jpg')
                    img.img-responsive(src='images/photo/40m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/41.jpg')
                    img.img-responsive(src='images/photo/41m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/42.jpg')
                    img.img-responsive(src='images/photo/42m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/43.jpg')
                    img.img-responsive(src='images/photo/43m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/44.jpg')
                    img.img-responsive(src='images/photo/44m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/45.jpg')
                    img.img-responsive(src='images/photo/45m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/46.jpg')
                    img.img-responsive(src='images/photo/46m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/47.jpg')
                    img.img-responsive(src='images/photo/47m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/48.jpg')
                    img.img-responsive(src='images/photo/48m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/49.jpg')
                    img.img-responsive(src='images/photo/49m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/50.jpg')
                    img.img-responsive(src='images/photo/50m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/51.jpg')
                    img.img-responsive(src='images/photo/51m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/52.jpg')
                    img.img-responsive(src='images/photo/52m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/53.jpg')
                    img.img-responsive(src='images/photo/53m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/54.jpg')
                    img.img-responsive(src='images/photo/54m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/55.jpg')
                    img.img-responsive(src='images/photo/55m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/56.jpg')
                    img.img-responsive(src='images/photo/56m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/57.jpg')
                    img.img-responsive(src='images/photo/57m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/58.jpg')
                    img.img-responsive(src='images/photo/58m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/61.jpg')
                    img.img-responsive(src='images/photo/61m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/63.jpg')
                    img.img-responsive(src='images/photo/63m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/64.jpg')
                    img.img-responsive(src='images/photo/64m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/65.jpg')
                    img.img-responsive(src='images/photo/65m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/66.jpg')
                    img.img-responsive(src='images/photo/66m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/67.jpg')
                    img.img-responsive(src='images/photo/67m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/68.jpg')
                    img.img-responsive(src='images/photo/68m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/69.jpg')
                    img.img-responsive(src='images/photo/69m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/71.jpg')
                    img.img-responsive(src='images/photo/71m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/72.jpg')
                    img.img-responsive(src='images/photo/72m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/73.jpg')
                    img.img-responsive(src='images/photo/73m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/74.jpg')
                    img.img-responsive(src='images/photo/74m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/75.jpg')
                    img.img-responsive(src='images/photo/75m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/77.jpg')
                    img.img-responsive(src='images/photo/77m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/79.jpg')
                    img.img-responsive(src='images/photo/79m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/80.jpg')
                    img.img-responsive(src='images/photo/80m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/81.jpg')
                    img.img-responsive(src='images/photo/81m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/82.jpg')
                    img.img-responsive(src='images/photo/82m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/83.jpg')
                    img.img-responsive(src='images/photo/83m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/84.jpg')
                    img.img-responsive(src='images/photo/84m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/85.jpg')
                    img.img-responsive(src='images/photo/88m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/89.jpg')
                    img.img-responsive(src='images/photo/89m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/90.jpg')
                    img.img-responsive(src='images/photo/90m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/91.jpg')
                    img.img-responsive(src='images/photo/91m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/92.jpg')
                    img.img-responsive(src='images/photo/92m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/95.jpg')
                    img.img-responsive(src='images/photo/95m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/98.jpg')
                    img.img-responsive(src='images/photo/98m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/99.jpg')
                    img.img-responsive(src='images/photo/99m.jpg', alt='')
                a(data-fancybox='gallery', href='images/photo/100.jpg')
                    img.img-responsive(src='images/photo/100m.jpg', alt='')

                a(data-fancybox='gallery', href='images/photo/101.jpg')
                    img.img-responsive(src='images/photo/101m.jpg', alt='')
