// footer-starts
.footer
    .container
        .col-md-4.col-sm-12
            h4 Приезжайте
            .cont-tp
                span.glyphicon.glyphicon-map-marker(aria-hidden='true')
            address
                | Саратовская область, 413046, Воскресенский район, село&nbsp;Чардым, конец ул.&nbsp;Дачной
                br
                | N51°47.122' E46°18.145'
        .col-md-4.col-sm-12
            h4 Звоните
            .cont-tp
                span.glyphicon.glyphicon-phone(aria-hidden='true')
            p 
                | Телефон:&nbsp;
                a(href='tel:+79371445464') +7&nbsp;937&nbsp;144&nbsp;5464
            p 
                | WhatsApp:&nbsp;
                a(href='whatsapp://send?phone=+79371445464') +7&nbsp;937&nbsp;144&nbsp;5464
            p 
                | Viber:&nbsp;
                a(href='viber://chat?number=+79371445464') +7&nbsp;937&nbsp;144&nbsp;5464
        .col-md-4.col-sm-12
            h4 Пишите
            .cont-tp
                span.glyphicon.glyphicon-envelope(aria-hidden='true')
            p
                a(href='mailto:l-skazka64@yandex.ru', target='_blank') l-skazka64@yandex.ru
        .clearfix
        .footer-text
            p
                | © 2019 ООО «Лесная сказка», Все права защищены. | Дизайн    
                a(href='http://w3layouts.com/', target='_blank') W3layouts
// footer-end
