// start-header
.header
    .container
        .head
            .soc
                ul
                    li
                        a(href='https://www.facebook.com/kempingsaratov/', target='_blank')
                            span.fb 
                    li
                        a(href='https://www.instagram.com/kemping_saratov/', target='_blank')
                            span.inst 
                    .clearfix
            .header-right
                p Отдых на Волге без комаров и клещей
            .clearfix
